.App {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-color: rgb(57, 74, 92);
  color: aliceblue;
}

.calc-wrapper {
  background-color: white;
  width: 400px;
  border-radius: 16px;
  background-color: black;
}
.row {
  display: flex;
}
